<%- model_class = ArtistCall -%>
<div class="page-header">
  <h1><%=t '.title', :default => "From " + @artist_call.artist.name %></h1>
</div>

<dl class="dl-horizontal">
  <%= link_to t('.back', :default => t("helpers.links.click_to_listen")),
              @artist_call.recording_url, :class => 'btn btn-large btn-success'  %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              user_requests_path, :class => 'btn'  %>
</div>
