<div class="page-header">
  <h1><%=t '.title', :default => @artist.name %></h1>
  <h3><%=t '.title', :default => "wants to send you a custom voice message" %></h3>
</div>

<%= render :partial => 'form' %>
