<div class="page-header">
  <h1><%=t '.title', :default => "From " + @user_request.artist.name %></h1>
</div>

<dl class="dl-horizontal">
  <%= link_to t('.back', :default => t("helpers.links.click_to_listen")),
              @user_request.artist_call.recording_url, :class => 'btn btn-large btn-info'  %>
</dl>
