<div class="hero-unit">
  <h1>Band Calls</h1>
  <p>Let your favorite artists leave personalized voice messages.</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>